{% extends 'base.html' %}
{% block body %} 

<div class="skill-box">
    <h2>Website main idea:</h2>
    
    A plagiarism checker is a tool used to detect plagiarism in documents. It works by comparing documents to a large database of documents and finding similarities between them. It can detect exact matches as well as modified or paraphrased copies of documents. Plagiarism checkers can be used to detect plagiarism in academic papers, articles, blog posts, and other written works. They are also commonly used to detect copyright infringement.
    The first step in creating this plagiarism checker is to obtain data to use for the checker. This data should be a large collection of documents with a variety of topics and authors. This data will be used to create the model for the plagiarism checker.

    </div>

    <div class="skill-box">
    <h2>Used tools and framework:</h2>
    
    The second step is to use Python, NLTK, and Flask to create the web application. This web application will allow users to input a document or text and have it checked against the data to see if any part of the document is similar to another document. The third step is to use NLTK to create the model. This model will be used to compare documents. This model will be used to compare documents and determine if any part of a document is similar to another.
    </div>
{% endblock %}