<!--<html>-->

<!--<link rel="stylesheet" href="{{ url_for('static', filename ='css/main.css') }}"/>-->
<!--<body>-->

{% extends 'base.html' %}
{% block body %}


<div class="background-one">
  <div class="link-container">
    <a class="link-one" href="http://127.0.0.1:5000/log">Palagrism</a>
  </div>
</div>
<div class="background-two link-container">
  <a class="link-two" href="http://127.0.0.1:5000/explain">Explantion</a>
</div>
<div class="background-three link-container">
  <a class="link-three" href="http://127.0.0.1:5000/about">About</a>
</div>

<!--</body>-->
<!--</html>-->

{% endblock %}
