{% extends 'base.html' %}
{% block body %}
<div class="skill-box">An n-gram is a sequence of n items taken from a given sequence of text.
    N-grams can be used to measure the similarity of two texts, as well as to predict the next item in a sequence. For example,
    an n-gram of size 2 (also known as a bigram) would take two items from a sequence and look for patterns in the text. The items can be words,
    letters, or any other symbols. N-grams are commonly used in natural language processing and text analysis applications.</div>

<div class="skill-box">The Jaccard distance (also known as the Jaccard similarity coefficient) is a measure of similarity between two sets of data.
    It is a measure of the similarity between two sets of items, with a value of 1 indicating that the two sets are completely similar,
    and a value of 0 indicating that they are completely different.
    The Jaccard distance is calculated by taking the size of the intersection of the two sets divided by the size of the union of the two sets.
    It is a useful measure for comparing the similarity between two sets of data.</div>

{% endblock %}
